.app{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    font-weight: 400;
    margin-bottom: -10px;
}
.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.letter{
    border: 2px solid black;
    margin: 3px;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 30px;
    font-weight: bold;
}
.board{
    justify-content: center;
    align-items: center;
    font: 1em sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%; 
}
.row{
    display: flex;
}
.keyboard {
    width: 700px;
    height: 200px;
    margin-top: 10px;
  }
  
  .line1 {
    flex: 33%;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    margin: 5px;
  }
  .line2 {
    flex: 33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
  }
  .line3 {
    flex: 33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
  }

.key{
  width: 40px;
  height: 50px;
  margin: 5px;
  border-radius: 4px;
  display: grid;
  place-items: center;
  font-size: 20px;
  background-color: grey;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
.big-btn{
    width: 10%;
    height: 50px;
    margin: 5px;
    border-radius: 4px;
    display: grid;
    place-items: center;
    font-size: 20px;
    background-color: grey;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    width: 100%;  
}
#right{
  background-color: greenyellow;
}
#halfRight{
  background-color: rgb(246, 246, 18);
}
#wrong{
  background-color: rgb(200, 194, 194);
}